// Place all the styles related to the funcans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content h1 small {
    color: #404040;
}

header.topbar form#sign_in {
    margin: 6px 0 0 0;
    input {
        padding: 0;
        width: auto;
        height: auto;
        /*background-color: #22697d;*/
        background-color: darkslateblue;
    }
}

header.topbar img {
    margin-right: 3px;
    vertical-align: top;
}

header.topbar input[type="submit"] {
    padding: 6px 9px;
}

header.topbar .dropdown-menu form.pull-right {
    margin: 0 6px 0 0;
}

.stream-item {
    border-bottom: 1px solid #ebebeb;
    min-height: 60px;
    clear: both;
    margin-top: -1px;
}

.tweet {
    padding: 10px 20px 0 20px;
}

.vote-container {
    padding: 4px 20px 8px 20px;
}

.tweet-image {
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 3px;
}

.tweet-image img {
    height: 48px;
    width: 48px;
}

.tweet-content {
    margin-left: 58px;
    min-height: 48px;
}

.tweet-text {
    font-size: 15px;
}

.tweet-text .label {
    padding: 2px 4px 3px 4px;
}

.tweet-content time {
    font-size: 11px;
}

#main-tweet-box textarea {
    width: 570px;
    height: 56px;
}

#main-tweet-box label {
    width: auto;
}

.button-container {
    text-align: right;
    margin: 5px 0 3px 0;
    height: 29px;

    button {
        margin-left: 4px;
    }
}

#new_indicator {
    vertical-align: middle;
}

.label.fun, .btn.fun {
    background-color: goldenrod;
}

.btn.info, .btn.info:hover,
.btn.success, .btn.success:hover {
    color: white;
}

.btn.fun {
    color: white;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(gold), to(goldenrod));
    background-image: -moz-linear-gradient(gold, goldenrod);
    background-image: -ms-linear-gradient(gold, goldenrod);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, gold), color-stop(100%, goldenrod));
    background-image: -webkit-linear-gradient(top, gold, goldenrod);
    background-image: -o-linear-gradient(gold, goldenrod);
    background-image: linear-gradient(gold, goldenrod);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gold', endColorstr='goldenrod', GradientType=0);
    border-color: goldenrod goldenrod #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.fun:hover {
    color: white;
}

.label.can, .btn.can {
    background-color: darkorange;
}

.btn.can {
    color: white;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(orange), to(darkorange));
    background-image: -moz-linear-gradient(orange, darkorange);
    background-image: -ms-linear-gradient(orange, darkorange);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, orange), color-stop(100%, darkorange));
    background-image: -webkit-linear-gradient(orange, darkorange);
    background-image: -o-linear-gradient(orange, darkorange);
    background-image: linear-gradient(orange, darkorange);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='darkorange', GradientType=0);
    border-color: darkorange darkorange #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.can:hover {
    color: white;
}

/*.btn.funcan {*/
    /*color: white;*/
    /*background-color: green;*/
    /*background-image: -webkit-linear-gradient(top, green, darkgreen);*/
/*}*/

.vote-container form, .vote-container div {
    display: inline-block;
    margin-bottom: 2px;;
}

.vote-container button.info.small {
    padding: 2px 9px;
    margin-left: 2px;
    min-width: 80px;
}

.vote-container .label.count {
    margin-left: 6px;
    padding: 4px 7px 5px;
    position: relative;
}

.vote-container .label.count::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-color: #62CFFC;
    right: 100%;
    top: 6px;
}

.vote-container div img {
    position: relative;
    top: 6px;
    width: 22px;
    height: 22px;
}

.vote-container button.btn.info {
    span.emoji {
        font-size: 22px;
    }
    img.emoji {
        width: 20px;
        height: 20px;
    }
}

.content .page-header {
    border-bottom-style: none;
}

#vote-users .modal-footer .btn.close {
    opacity: 1;
    margin-top: 0;
    color: white;
}

/* Smartphone test */

body, header.topbar, .container, .content, .footer, #vote-users {
    max-width: 768px !important;
}

body {
    margin: 0 auto !important;
    padding: 60px 0 0 0 !important;
}

header.topbar {
    left: auto;
    right: auto;
    width: 100%;
    form.pull-right {
    }
}

body > div.container {
    width: auto;
}
header .container {
    width: auto !important;
    padding: 0 5px 0 8px;
}

header h1.brand {
    margin-bottom: 0px;
    small {
        font-size: 12px;
        color: white;
    }
}

.page-header {
    padding: 0 10px;
}

#main-tweet-box label {
    float: none;
}

#main-tweet-box textarea {
    width: 98%;
}

.vote-container {
    text-align: right;
}

.dialog-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.dialog-content {
    margin: auto;
    position: relative;
    width: 240px;
}

#vote-users {
    width: 240px;
    min-width: 240px;
    margin: 0 auto;
    top: 20%;
    left: auto;
    position: absolute;
}

header.modal-header h1 {
    font-size: 100%;
    margin-bottom: 0;
}

.modal-body {
    ul.users {
        list-style: none;
        margin: 0;
        li a {
            margin-right: 5px;
            float: left;
        }
        li .name {
            display: block;
            padding: 15px 0;
        }
    }
    form#sign_in {
        text-align: center;
        input {
            width: auto;
            height: auto;
        }
    }
}