// Place all the styles related to the funcans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stream-item {
    border-bottom: 1px solid #ebebeb;
    min-height: 60px;
    clear: both;
    margin-top: -1px;
}

.tweet {
    padding: 10px 20px 0 20px;
}

.comment-container {
    padding: 5px 20px 10px 20px;
}

.tweet-image {
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 3px;
}

.tweet-content {
    margin-left: 58px;
    min-height: 48px;
}

.tweet-text {
    font-size: 15px;
}

.tweet-text .label {
    padding: 2px 4px 3px 4px;
}

.tweet-content time {
    font-size: 11px;
}

#main-tweet-box textarea {
    width: 570px;
    height: 56px;
}

#main-tweet-box label {
    width: auto;
}

.button-container {
    text-align: right;
    margin: 5px 0 3px 0;
    height: 29px;
}

.button-container button {
    margin-left: 4px;
}

.label.fun, .btn.fun {
    background-color: goldenrod;
}

.btn.fun {
    color: white;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(gold), to(goldenrod));
    background-image: -moz-linear-gradient(gold, goldenrod);
    background-image: -ms-linear-gradient(gold, goldenrod);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, gold), color-stop(100%, goldenrod));
    background-image: -webkit-linear-gradient(top, gold, goldenrod);
    background-image: -o-linear-gradient(gold, goldenrod);
    background-image: linear-gradient(gold, goldenrod);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gold', endColorstr='goldenrod', GradientType=0);
    border-color: goldenrod goldenrod #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.fun:hover {
    color: white;
}

.label.can, .btn.can {
    background-color: darkorange;
}

.btn.can {
    color: white;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(orange), to(darkorange));
    background-image: -moz-linear-gradient(orange, darkorange);
    background-image: -ms-linear-gradient(orange, darkorange);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, orange), color-stop(100%, darkorange));
    background-image: -webkit-linear-gradient(orange, darkorange);
    background-image: -o-linear-gradient(orange, darkorange);
    background-image: linear-gradient(orange, darkorange);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='darkorange', GradientType=0);
    border-color: darkorange darkorange #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.can:hover {
    color: white;
}

/*.btn.funcan {*/
    /*color: white;*/
    /*background-color: green;*/
    /*background-image: -webkit-linear-gradient(top, green, darkgreen);*/
/*}*/

.comment-container form {
    display: inline-block;
    margin-bottom: auto;
}

.comment-container button.info.small {
    padding: 2px 9px;
    min-width: 75px;
}

.comment-container .label.count {
    margin-left: 6px;
    padding: 4px 7px 5px;
    position: relative;
}

.comment-container .label.count::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-color: #62CFFC;
    right: 100%;
    top: 6px;
}

.content .page-header {
    border-bottom-style: none;
}

/* Smartphone test */

body, header.topbar, .container, .content {
    max-width: 768px !important;
}

body {
    margin: 0 auto !important;
    padding: 60px 0 0 0 !important;
}

header.topbar {
    left: auto;
    right: auto;
    width: 100%;
    form.pull-right {
    }
}

body > div.container {
    width: auto;
}
header .container {
    width: auto !important;
    padding: 0 10px;
}

header h1.brand {
    margin-bottom: 0px;
    small {
        font-size: 12px;
        color: white;
    }
}

.page-header {
    padding: 0 10px;
}

#main-tweet-box label {
    float: none;
}

#main-tweet-box textarea {
    width: 98%;
}

.comment-container {
    text-align: center;
}